<div class="container" setBackground appHover>
  <p>
    This is a demo HTML content to undertand custom attribute directive in
    Angular.
  </p>
</div>
<div appHighlight appHover>
  <p>
    This is a demo HTML content to undertand custom attribute directive in
    Angular.
  </p>
</div>
<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'yellow'">
  <p>
    This is a demo HTML content to undertand custom @HostBinding in Angular.
  </p>
</div>
<div [appClass]="{ container: false, 'change-font': true }">
  <p>
    This is a demo HTML content to undertand custom ngClass directive in
    Angular.
  </p>
</div>
<div
  class="container"
  [appStyle]="{
    backgroundColor: active ? 'green' : 'red',
    color: 'white',
    fontWeight: 'bold'
  }"
>
  <p>
    This is a demo HTML content to undertand custom ngStyle directive in
    Angular.
  </p>
</div>

<button class="btn btn-notice" (click)="DisplayNotice()">Show notice</button>

<div class="info-container notice" *appIf="display">
  <h3>This is important notice</h3>
  <p>This is a notice issued for all website user.</p>
</div>

<!-- <ng-template #myVar>
  <p>This is an example paragraph</p>
</ng-template> -->

<!-- <ng-template [ngIf]="display">
  <div class="info-container notice">
    <h3>This is important notice</h3>
    <p>This is a notice issued for all website user.</p>
  </div>
</ng-template> -->

<!-- <ng-template #myVar>
  <p>This is an example paragraph</p>
</ng-template> -->

<div class="container" [ngSwitch]="occupation">
  <p *ngSwitchCase="'teacher'">
    This paragraph will be displayed when occupation is teacher
  </p>
  <p *ngSwitchCase="'designer'">
    This paragraph will be displayed when occupation is desinger
  </p>
  <p *ngSwitchCase="'lawer'">
    This paragraph will be displayed when occupation is lawer
  </p>
  <p *ngSwitchDefault>
    This paragraph will be displayed when occupation is if no case matches
    switch expression
  </p>
</div>
